/bin/
/.gradle/
notebooks/.ipynb_checkpoints/*
data/debatepedia/xmi/debatepedia-preprocessed/
data/webis-debate-16-processed
data/debatepedia/split/
data/debatepedia/processed/
data/student-essays/split/
data/student-essays/processed/
data/sample-sbm/processed/
data/cross-domain/debatepedia_sample-sbm/models/
out/
.idea/
src/main/main.iml
lib/
